/.vs
/DE_Hook/x64/Debug
/dinput8/x64/Debug
.claude/settings.local.json
wdlhook_log.txt
*.ps1
/anim_poses
anim_pose.h
/wlu_work
/anim_poses_old
/WDLLauncher/x64
/dinput8/dinput8
/DE_Hook/x64
*.txt
wdl_token_slot4.bin
